<h2>Student Login</h2>
<%= form_with url: login_path, local: true do |f| %>
    Username: <%= f.text_field :username %> <br>
    <br>
    Password: <%= f.password_field :password %> <br>
    <br>
    <%= f.submit "Log In" %>
<% end %>

<h3>Log In with Google</h3>
<%= button_to 'Google', '/auth/google_oauth2' %>
<br>
<%= link_to "Home", root_path %>