<h2>Teacher login</h2>
<% if flash %>
    <% flash.each do |type, message| %>
        <%= message %><br>
    <% end %>
<% end %>
<br>
<%= form_with url: teacherlogin_path, local: true do |f| %>
    Username: <%= f.text_field :username %> <br>
    <br>
    Password: <%= f.password_field :password %> <br>
    <br>
    Access Code: <%= f.password_field :access_code %> <br>
    <br>
    <%= f.submit "Log In" %>
<% end %>
<br>
<%= link_to "Home", root_path %>