<h1>Edit Schedule</h1>
<%= form_with model: [@student, @schedule] do |form| %>
    <%= form.course.name %> - <%= form.course.description %>
    <% form.hidden_field :student_id, value: @student.id %>
    <%= form.select :semester, ["Fall", "Spring"] %> 
    <%= form.submit %>
<% end %>
<%= link_to "Home", root_path %>