<h1><%= @student.first_name %> <%= @student.last_name %>'s Schedule</h1>

<% if @schedules == nil %>
    <h3>No Schedule</h3>
<% else %>
    <ol>
    <% @schedules.each do |t| %>
        <li><%= t.course.name %> - <%= t.course.description %> - <%= t.course.teacher.first_name %> <%= t.course.teacher.last_name %><br>
    <% end %>
    </ol>
<% end %>

<p><%= link_to "Add New Course", new_student_schedule_path %></p>
<p><%= link_to "Home", root_path %></p>