<h1>Add New Courses</h1>

<%= form_with model: @schedule, local: true do |form| %>
    <%= form.collection_select :course_id, Course.order(:name),:id,:name %>
    <% form.hidden_field :student_id, value: @student.id %> 
    <%= form.select :semester, ["Fall", "Spring"] %> 
    <%= form.submit %>
<% end %>
<%= link_to "Home", root_path %>