<h2>Change Department</h2>
<h3>Your current Department is: <strong><%= @teacher.department %></strong></h3>
<br>
<%= form_with model: @teacher do |form| %>
    <%= form.select(:department, options_for_select(["Mime", "Circus Clown"])) %>
    <br>
    <%= form.submit "Change Department" %>
<% end %>
<br>
<%= link_to 'Profile', teacher_path(current_teacher.id) %><br>
<%= link_to "Home", root_path %>