<h1>This is the create new teacher page!</h1>
<% if @teacher.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>
    <ul>
      <% @teacher.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @teacher, local: true do |form| %>
    First Name: <%= form.text_field :first_name %><br>
    Last Name: <%= form.text_field :last_name %><br>
    Username: <%= form.text_field :username %><br>
    Password: <%= form.password_field :password %><br>
    Access Code: <%= form.password_field :access_code %><br>
    <%= form.submit %>
<% end %>
<%= link_to "Home", "/" %>