<h1>Edit Schedule Page</h1>
<%= form_with model: [@student, @schedule] do |form| %>
    <%= form.name %> - <%= form.description %>
    <% form.hidden_field :student_id, value: @student.id %>
    <%= form.select :semester, ["Fall", "Spring"] %> 
    <%= form.submit %>
<% end %>
<%= link_to "Home", root_path %>

<%= form_with model: [@teacher, @course], local: true do |form| %>
    Course Name: <%= form.text_field :name %><br>
    Course Description: <%= form.text_area :description %><br>
    <%= form.submit %>
<% end %>

<%= link_to "Home", "/" %>

