<h2>Edit Course Page</h2>
<br>
<% if @course.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>
    <ul>
      <% @course.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: [@teacher, @course], local: true do |form| %>
    Course Name: <%= form.text_field :name %><br>
    <br>
    Course Description: <%= form.text_area :description, rows: 4, cols: 40 %><br>
    <%= form.submit %>
<% end %>
<br>
<%= link_to "Courses", teacher_courses_path(current_teacher.id) %><br>
<br>
<%= link_to 'Profile', teacher_path(current_teacher.id) %><br>
<%= link_to "Home", root_path %>