<% if @teacher %>
    <h2><%= @teacher.first_name %> <%= @teacher.last_name %>'s Courses</h2>
<% else %>
    <h2>Course Listing</h2>
<% end %>

<% if @teacher %>
    <ol>
    <% @courses.each do |t| %>
        <li><strong><%= t.name %></strong> - <%= t.description %> - <i><%= t.teacher.first_name %> <%= t.teacher.last_name %></i><br>
        <%= link_to "Edit Course", edit_teacher_course_path(t.teacher_id, t.id) %><br>
        <%= button_to "Delete Course", teacher_course_path(t.teacher_id, t.id), method: :delete, data: {confirm: "Are you sure?"} %></li>
        <br>
        <% end %>
    </ol>
    <%= link_to "Create Course", new_teacher_course_path %><br>
<% else %>
    <ol>
    <% @courses.each do |t| %>
    <li><%= t.name %> - <%= t.description %> - <%= t.teacher.first_name %> <%= t.teacher.last_name %><br>
    <% end %>
    </ol>
<% end %>
<br>
<% if @teacher %>
<%= link_to 'Profile', teacher_path(current_teacher.id) %><br>
<% end %>
<p><%= link_to "Home", root_path %></p>