<% if @teacher %>
    <h1><%= @teacher.first_name %> <%= @teacher.last_name %>'s Courses</h1>
<% else %>
    <h1>Course Listing Page</h1>
<% end %>

<% if @teacher %>
    <ol>
    <% @courses.each do |t| %>
        <li><%= t.name %> - <%= t.description %> - <%= t.teacher.first_name %> <%= t.teacher.last_name %><br>
        <%= link_to "Edit Course", edit_teacher_course_path(t.teacher_id, t.id) %></li>
        <% end %>
    </ol>
    <%= link_to "Create Course", new_teacher_course_path %><br>
<% else %>
    <% @courses.each do |t| %>
    <li><%= t.name %> - <%= t.description %> - <%= t.teacher.first_name %> <%= t.teacher.last_name %><br>
    <% end %>
<% end %>



<p><%= link_to "Home", "/" %></p>