<h2>Edit Activity Page</h2>
<br>
<% if @activity.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
    <ul>
      <% @activity.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: [@teacher, @activity], local: true do |form| %>
    Activity Name: <%= form.text_field :name %><br>
    <br>
    Activity Description: <%= form.text_area :description, rows: 4, cols: 40 %><br>
    <br>
    <%= form.submit %>
<% end %>
<br>
<%= link_to "Activities", teacher_activities_path(current_teacher.id) %><br>
<br>
<%= link_to 'Profile', teacher_path(current_teacher.id) %><br>
<%= link_to "Home", root_path %>