<% if @teacher %>
    <h2><%= @teacher.first_name %> <%= @teacher.last_name %>'s Activities</h2>
<% else %>
    <h2>Activity Listing</h2>
<% end %>

<% if @teacher %>
    <ol>
    <% @activities.each do |t| %>
        <li><strong><%= t.name %></strong> - <%= t.description %> - <i><%= t.teacher.first_name %> <%= t.teacher.last_name %></i><br>
        <%= link_to "Edit Activity", edit_teacher_activity_path(t.teacher_id, t.id) %><br>
        <%= button_to "Delete Activity", teacher_activity_path(t.teacher_id, t.id), method: :delete, data: {confirm: "Are you sure?"} %></li>
        <br>
        <% end %>
    </ol>
    <%= link_to "Create Activity", new_teacher_activity_path %><br>
<% else %>
    <ol>
    <% @activities.each do |t| %>
    <li><strong><%= t.name %></strong> - <%= t.description %> - <i><%= t.teacher.first_name %> <%= t.teacher.last_name %></i><br>
    <br>
    <% end %>
    </ol>
<% end %>
<br>
<% if @teacher %>
<br>
<%= link_to 'Profile', teacher_path(current_teacher.id) %><br>
<% end %>
<p><%= link_to "Home", root_path %></p>